**DATASET NAME - EMPLOYEE_DATA ; FORMAT - CSV**

In [0]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as ss

In [0]:
df2 = pd.read_csv('/content/employee_data.csv')

In [0]:
df2.tail()

In [0]:
df2.shape

In [0]:
df2.dropna(axis=0 , how='any')

In [0]:
df2.size

In [0]:
df2.replace(to_replace='?', value='Unknown')

Identify Categorical variables & Continuous Variables

1.   Categorical 


*italicized text*

In [0]:
df2['employment_type'].unique()

In [0]:
df2['education'].unique()

In [0]:
df2['Gender'].unique()

In [0]:
df2['marital-status'].unique()

In [0]:
df2['relationship'].unique()

2.Continuous

In [0]:
df2['age'].size

In [0]:
df2['hours_per_week'].value_counts()

In [0]:
len(df2['salary'].unique())

*Univariate analysis for categorical data*

In [0]:
df2['employment_type'].value_counts().plot.bar()
plt.xlabel('Employee types')
plt.ylabel('quantity')
plt.title('Count the people who are employed')

Observations-
1. *Most of the employed are from private sector(nearly-680)*

In [0]:
df2['education'].value_counts().plot.bar()
plt.xlabel('Education level')
plt.ylabel('Quantity')
plt.title('Count the education level')

*HS graduated peoples are more than 300 in numbers*

In [0]:
df2['marital-status'].value_counts().plot.bar()
plt.xlabel('Employee marital-status')
plt.ylabel('quantity')
plt.title('Count the marital-status of the employees')

Most of the employees are tagged with Married-civ-spouse(420+)
Very few employees have marital_status 'Married-AF-spouse'

In [0]:
df2['relationship'].value_counts().plot.bar()
plt.xlabel('relation')
plt.ylabel('Quantity')
plt.title('Relationship')

Around 360 employees are husband
Unmarried womans are more employed than married

In [0]:
df2['Gender'].value_counts().plot.bar()
plt.xlabel('Sex')
plt.ylabel('Quantity')
plt.title('Gender')

The number of male employees are almost double in female employees

Univariate analysis for Continuous data

In [0]:
df2['age'].hist()

Infrences comes as-
1. Maximum number of employees belongs to age group(32to 48)approx.
2. nearly 5 employees are working having age group(82 to 90)

In [0]:
df2['salary'].hist(bins=100)
plt.xlim([20000 , 400000])

1. nearly 60 employees are working having salary around 200000

In [0]:
df2['hours_per_week'].hist()

1. more than 500 employees are spending 40 hours in a week at their work

bivariate analysis between Salary and hour_per_week
with {scatter plot}

In [0]:
df2.plot.scatter(x='hours_per_week', y='salary')

inferences drawn


1.   The number of people working 20,30,40,50,60 (hours_per_week) is more.
2.   Most of peoples dedicatet 40 hours in a week to their jobs
3. Time spends in jobs does not depend on their respective salaries

*For each Education type , showcase the distribution of Salary .Use Seaborn Facetgrid & Line plot.Identify the key observations and mention them*

In [0]:
mrf = ss.FacetGrid(df2,col='education', col_wrap=3)
mrf = mrf.map(plt.hist, 'salary')

line plot

In [0]:
ss.lineplot(x = "education", y = "salary",data = df2, markers=True,err_style="bars")
plt.show()

Categorizing each Gender & Relationship status (combination of all values) , plot the hours_per_week worked.Choose appropriate plots.Mention the inferences drawn

In [0]:
facet = ss.FacetGrid(df2, col='Gender', row='relationship',aspect=2)
facet = facet.map(plt.hist , 'hours_per_week')

*Infrences are-*
1. *The most employed are the husbands*
2. *Most of the employed have a job in which they work 40 hours per weak *

How many Males that have Marital status ‘Married-civ-spouse’ are earning above 150,000 ?

In [0]:
df2 =df2.loc[(df2['Gender'].isin([' Male'])) & (df2['marital-status'].isin([' Married-civ-spouse'])) & (df2['salary'] > 150000)][['Gender','marital-status','salary']]
df2['Gender'].value_counts()

Are Divorced Individuals of higher age compared to Individuals that are Not-in-family ? Using mean as a measure , answer the above question & mention the respective age of the two groups